
.menu { 
height: 100vh;
background : url("https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/en_US/games/switch/e/exploding-kittens-switch/hero");
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.menu > div { 
    display : flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    left: 10vw;
    bottom: calc(100vh/ 2.5);  

}

button { 
    width: 250px;
    height: 60px;
    border-radius: 10px;

    font-size: 20px;

    margin-bottom: 15px;
    cursor: pointer;

    box-shadow: 0 6px #999;

}

button:hover{ 
    background-color: #A3BB98;
}

button:active { 
    transform: translateY(4px);
    box-shadow: 0 5px #666;
    background-color: #F0ECCF;
}